<!-- stylelint-disable -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  <div id="yw0" class="list-view">
    <div class="items">

      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="">
        <tbody>
          <tr>
            <td style="padding-top:10px">
              <table width="630" cellpadding="15" bgcolor="#ffffff" cellspacing="0" border="0" align="center"
                class="devicewidth" style="border-top-left-radius:7px; border-top-right-radius:7px; margin:0 auto">
                <tbody>
                  <tr>
                    <td width="100%">
                      <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td align="left" style="padding:14px" width="50%">
                              <img src="{{companyLogo}}" alt="Logo" style="max-width:200px">
                            </td>
                            <td align="left" style="padding-right:8px; padding-top:5px;">
                              <p
                                style="font-family:Helvetica, arial, sans-serif; font-size:15px; color:#00546a; margin:0; margin-bottom:5px; font-weight:bold;">
                                {{companyName}}
                              </p>
                              <p
                                style="font-family:Helvetica, arial, sans-serif; font-size:13px; color:#878787; margin:0">
                                {{companyAddress}}<br>
                                {{companyEmail}}<br>
                                {{companyPhone}}<br>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <hr>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
        <tbody>
          <tr>
            <td>
              <table width="630" cellpadding="0" bgcolor="#ffffff" cellspacing="0" border="0" align="center"
                class="devicewidth">
                <tbody>
                  <tr>
                    <td width="100%">
                      <!-- header -->
                      <!-- content -->
                      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                          <tr>
                            <td
                              style="padding: 7px; text-align: center; font-weight: bold; font-family:Helvetica, arial, sans-serif; font-size: 20px;"
                              data-bg-color="{{titleColor}}">
                              {{reservationTitle}}
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0"
                        id="backgroundTable">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="10" bgcolor="#ffffff" cellspacing="0" border="0"
                                align="center" class="devicewidth"
                                style="border-top-left-radius:7px; border-top-right-radius:7px; margin:0 auto">
                                <tbody>
                                  <tr>
                                    <td width="100%">
                                      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td style="padding-left:11px; padding-right:11px; text-align:left">
                                              Dear Admin,<br><br> Greeting
                                              from {{companyName}}!!<br>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="padding-left:11px; padding-right:11px; text-align:left">
                                              <br> {{adminNote}}
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0"
                        id="backgroundTable">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="15" bgcolor="#ffffff" cellspacing="0" border="0"
                                align="center" class="devicewidth" style="margin:0 auto">
                                <tbody>
                                  <tr>
                                    <td>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0"
                        id="backgroundTable">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="15" bgcolor="#ffffff" cellspacing="0" border="0"
                                align="center" class="devicewidth" style="margin:0 auto">
                                <tbody>
                                  <tr>
                                    <td width="100%">
                                      <table cellpadding="10" cellspacing="7" border="0" width="100%"
                                        style="background:#e0e0e2;">
                                        <tbody>
                                          <tr>
                                            <td colspan="2">
                                              <h4
                                                style="text-transform:uppercase; font-size:12px; font-weight:bold; color:#878789;  margin:0px 5px; padding:5px 0 5px; text-align:center;font-family:arial;">
                                                BOOKING INFORMATION:
                                              </h4>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial;">
                                              Hotel Name</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px;font-size:12px; padding:3px; text-transform:uppercase; font-family:arial;">
                                              {{hotelName}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial;">
                                              City &amp; State</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px;font-size:12px; padding:3px; text-transform:uppercase; font-family:arial;">
                                              {{hotelCity}},
                                              {{hotelState}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial;">
                                              Input Date</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px;font-size:12px; padding:3px; text-transform:uppercase; font-family:arial;">
                                              {{bookingDate}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Modified Date</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{modifiedDate}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Reservation</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{bookingId}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Ref#</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:11px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{sourceId}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Booking Type</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{bookingType}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              check-in</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:11px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{checkInDate}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              check-out</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{checkOutDate}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Number Of Nights</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{totalNight}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              number of rooms</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:11px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{totalRooms}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Adults</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{totalAdults}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Children</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{totalChildren}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Infants</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{totalInfants}}
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- Guest Information  -->
                      <table width="630" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth"
                        style="background:#ffffff; margin:0 auto">
                        <tbody>
                          <tr>
                            <td width="90%"
                              style="font-family:Arial, Helvetica, sans-serif; padding: 10px; text-align:left;">
                              <table border="1" bordercolor="#cccccc" width="100%" cellpadding="8" cellspacing="0"
                                style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color: #444;">
                                <tbody>
                                  <tr>
                                    <td colspan="2">
                                      <h4
                                        style="text-transform:uppercase; font-size:12px; font-weight:bold; margin:0px 5px; padding:5px 0 5px; text-align:center;font-family:arial;">
                                        GUEST INFORMATION:</h4>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td width="70%">
                                      <p
                                        style="text-align:left; font-size:14px; color:#878787;  vertical-align:top;margin:0px; font-family:arial">
                                        Name
                                      </p>
                                    </td>
                                    <td width="30%"
                                      style="text-align:left; font-size:15px; color:#878787;  vertical-align:center;  font-family:arial; text-transform:uppercase;">
                                      {{customerName}}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td width="70%">
                                      <p
                                        style="text-align:left; font-size:14px; color:#878787;  margin:0px; vertical-align:top;  font-family:arial">
                                        Email
                                      </p>
                                    </td>
                                    <td width="30%"
                                      style="text-align:left; font-size:15px; color:#878787;  vertical-align:center;  font-family:arial; text-transform:uppercase;">
                                      {{customerEmails}}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td width="70%">
                                      <p
                                        style="text-align:left; font-size:14px; color:#878787;  margin:0px; vertical-align:top;  font-family:arial">
                                        Phone
                                      </p>
                                    </td>
                                    <td width="30%"
                                      style="text-align:left; font-size:15px; color:#878787;  vertical-align:center;  font-family:arial; text-transform:uppercase;">
                                      {{customerPhone}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <table width="630" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0"
                        id="backgroundTable">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="15" bgcolor="#ffffff" cellspacing="0" border="0"
                                align="center" class="devicewidth" style=" margin:0 auto">
                                <tbody>
                                  <tr>
                                    <td>
                                      <table border="1" bordercolor="#cccccc" width="100%" cellpadding="8"
                                        cellspacing="0"
                                        style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color: #444;">
                                        <thead>
                                          <tr>
                                            <td colspan="8">
                                              <h4
                                                style="text-transform:uppercase; font-size:12px; font-weight:bold;  margin:0px 5px; padding:5px 0 5px; text-align:center;font-family:arial;">
                                                ROOM DETAILS BREAKUPS:
                                                HOTEL NETT PAYABLE:</h4>
                                            </td>
                                          </tr>
                                          <tr>
                                            <th>SR. No</th>
                                            <th>Room Type</th>
                                            <th>Plan</th>
                                            <th>Adult</th>
                                            <th>Child</th>
                                            <th>Child Age</th>
                                            <th>Extra Bed</th>
                                            <th>Total Net Payable To Hotels</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {{roomDetailsHTML}}
                                        </tbody>
                                        <tfoot>
                                          <tr>
                                            <td colspan="7" style="text-align: right;">
                                              Grand Total</td>
                                            <td>INR {{totalPayableAmount}}</td>
                                          </tr>
                                        </tfoot>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      {{otaSettlementHTML}}
                      <!-- GST DETAIL STARTS HERE  -->
                      <table width="630" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth"
                        style="background:#ffffff; margin:0 auto">
                        <tbody>
                          <tr>
                            <td width="90%"
                              style="font-family:Arial, Helvetica, sans-serif; padding: 10px; text-align:left;">
                              <table border="1" bordercolor="#cccccc" width="100%" cellpadding="8" cellspacing="0"
                                style="font-size:12px; font-family:Arial, Helvetica, sans-serif; color: #444;">
                                <tbody>
                                  <tr>
                                    <td colspan="2">
                                      <h4
                                        style="text-transform:uppercase; font-size:12px; font-weight:bold;  margin:0px 5px; padding:5px 0 5px; text-align:center;font-family:arial;">
                                        FINANCIAL INFORMATION:</h4>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td colspan="2"><b>NOTE: The rate information
                                        displayed below is a NET RATE. Do not
                                        disclose this rate to the guest.</b>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td width="70%">
                                      <p
                                        style="text-align:left; font-size:14px; color:#878787;  vertical-align:top;margin:0px; font-family:arial">
                                        (A) Room Charges
                                      </p>
                                    </td>
                                    <td width="30%"
                                      style="text-align:left; font-size:15px; color:#878787;  vertical-align:center;  font-family:arial; text-transform:uppercase;">
                                      INR {{roomChargeAmount}}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td width="70%">
                                      <p
                                        style="text-align:left; font-size:14px; color:#878787;  margin:0px; vertical-align:top;  font-family:arial">
                                        (B) GST Amount
                                      </p>
                                    </td>
                                    <td width="30%"
                                      style="text-align:left; font-size:15px; color:#878787;  vertical-align:center;  font-family:arial; text-transform:uppercase;">
                                      INR {{roomChargeGst}}
                                    </td>
                                  </tr>
                                  <tr>
                                    <td width="70%">
                                      <p
                                        style="text-align:left; font-size:14px; margin:0px; vertical-align:top;  font-family:arial;  font-weight: bold;">
                                        {{financialTotalRateLable}}
                                      </p>
                                    </td>
                                    <td width="30%"
                                      style="text-align:left; font-size:15px;vertical-align:center;  font-family:arial; text-transform:uppercase; font-weight: bold;">
                                      INR {{netRate}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td width="90%"
                              style="font-family:Arial, Helvetica, sans-serif; padding: 10px; text-align:left;">
                              <table border="1" bordercolor="#cccccc" width="100%" cellpadding="8" cellspacing="0"
                                style="font-size:13px; font-family:Arial, Helvetica, sans-serif; color: #444;">
                                <tbody>
                                  <tr>
                                    <td colspan="2"
                                      style="text-align:center; font-weight:bold;  color:#000;  vertical-align:top;  font-family:arial">
                                      ROOM RATE BREAKUP: MARGIN</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      Total Received from OTA / Source</td>
                                    <td width="50%"
                                      style="text-align:left; color:#878787;  vertical-align:center;  font-family:arial">
                                      INR {{netRate}}</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      Total Net Payable To Hotels</td>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:center;  font-family:arial">
                                      INR {{totalPayableAmount}}</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      Service Charges</td>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:center;  font-family:arial">
                                      INR 0</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      Margin</td>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:center;  font-family:arial"
                                      nowrap="nowrap">INR {{netRateMargin}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          {{adminDirectPaymentHTML}}

                          <tr>
                            <td width="90%"
                              style="font-family:Arial, Helvetica, sans-serif; padding: 10px; text-align:left;">
                              <table border="1" bordercolor="#cccccc" width="100%" cellpadding="8" cellspacing="0"
                                style="font-size:13px; font-family:Arial, Helvetica, sans-serif; color: #444;">
                                <tbody>
                                  <tr>
                                    <td colspan="2"
                                      style="text-align:center; font-weight:bold;  color:#000;  vertical-align:top;  font-family:arial">
                                      GUEST GST INFORMATION:</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      GST Number</td>
                                    <td width="50%"
                                      style="text-align:left; color:#878787;  vertical-align:center;  font-family:arial">
                                      {{customerGstNumber}}</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      GST Holders Name</td>
                                    <td width="50%"
                                      style="text-align:left; color:#878787;  vertical-align:center;  font-family:arial">
                                      {{customerGstName}}</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      GST Address</td>
                                    <td width="50%"
                                      style="text-align:left; color:#878787;  vertical-align:center;  font-family:arial">
                                      {{customerGstAddress}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                          <tr>
                            <td width="90%"
                              style="font-family:Arial, Helvetica, sans-serif; padding: 10px; text-align:left;">
                              <table border="1" bordercolor="#cccccc" width="100%" cellpadding="8" cellspacing="0"
                                style="font-size:13px; font-family:Arial, Helvetica, sans-serif; color: #444;">
                                <tbody>
                                  <tr>
                                    <td colspan="2"
                                      style="text-align:center; font-weight:bold;  color:#000;  vertical-align:top;  font-family:arial">
                                      BANK DETAILS FOR PAYMENT:</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      BANK NAME</td>
                                    <td width="50%"
                                      style="text-align:left; color:#878787;  vertical-align:center;  font-family:arial">
                                      {{bankName}}</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      ACCOUNT NAME</td>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:center;  font-family:arial">
                                      {{accountName}}</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      ACCOUNT NUMBER</td>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:center;  font-family:arial">
                                      {{accountNumber}}</td>
                                  </tr>
                                  <tr>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                                      IFSC NO</td>
                                    <td width="50%"
                                      style="text-align:left;  color:#878787;  vertical-align:center;  font-family:arial">
                                      {{ifscCode}}</td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0"
                        id="backgroundTable">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="15" bgcolor="#ffffff" cellspacing="0" border="0"
                                align="center" class="devicewidth" style="margin:0 auto">
                                <tbody>
                                  <tr>
                                    <td width="100%">
                                      <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                        <tbody>
                                          <tr>
                                            <td>
                                              <h4
                                                style="text-transform:uppercase; font-size:12px; font-weight:bold; color:#878789;
                                                                      margin:0px; padding:5px 0 5px; text-align:left;font-family:arial;">
                                                Policies</h4>
                                              <div
                                                style="margin-bottom: 14pt; font-size: 14px; text-align: left; color:#4F4F4F; font-family:arial;">
                                                {{cancellationPolicies}}
                                              </div>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                    </td>
                  </tr>
                </tbody>
              </table>

              <!-- footer -->
              <table width="100%" bgcolor="#eaeaea" cellpadding="0" border="0" id="backgroundTable">
                <tbody>
                  <tr>
                    <td>
                      <table width="630" cellpadding="0" cellspacing="0" valign="top" border="0" align="center"
                        class="devicewidth" style="margin:0 auto 10px;">
                        <tbody>
                          <tr>
                            <td width="100%" bgcolor="#ffffff"
                              style="border-top: #cccccc 1px dashed ;border-bottom-left-radius:7px;border-bottom-right-radius:7px;padding:10px 15px">
                              <table width="630" align="center" cellpadding="0" cellspacing="0"
                                style=" text-align: center; width: 100% !important;">
                                <tbody>
                                  <tr>
                                    <td align="center"
                                      style="color:#484646; font-size:14px; margin-top:0px; font-family:Arial, Helvetica, sans-serif; padding-top:5px; padding-bottom:10px">
                                      GSTIN: {{gstin}}, State Code: {{stateCode}},
                                      Pan No.: {{panNumber}}
                                      <br>Company Reg. No. : {{companyRegNumber}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

    </div>
  </div>
</body>

</html>