<!-- stylelint-disable -->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>
<body>
  <div id="yw0" class="list-view">
    <div class="items">
      
      <!-- Header -->
      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="">
        <tbody>
          <tr>
            <td style="padding-top:10px">
              <table width="630" cellpadding="15" bgcolor="#ffffff" cellspacing="0" border="0" align="center" class="devicewidth" style="border-top-left-radius:7px; border-top-right-radius:7px; margin:0 auto">
                <tbody>
                  <tr>
                    <td width="100%">
                      <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td align="left" style="padding:14px" width="50%">
                              <img src="{{companyLogo}}" alt="Logo" style="max-width: 200px;">
                            </td>
                            <td align="left" style="padding-right:8px; padding-top:5px;">
                              <p style="font-family:Helvetica, arial, sans-serif; font-size:15px; color:#00546a; margin:0; margin-bottom:5px; font-weight:bold;">
                                {{companyName}}
                              </p>
                              <p style="font-family:Helvetica, arial, sans-serif; font-size:13px; color:#878787; margin:0">
                                {{companyAddress}}<br>
                                {{companyEmail}}<br>
                                {{companyPhone}}<br>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <hr>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- Main Content -->
      <table width="100%" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="background-color: #eaeaea">
        <tbody>
          <tr>
            <td>
              <table width="630" cellpadding="0" cellspacing="0" border="0" align="center" class="devicewidth" style="background-color: #ffffff; margin: 0 auto">
                <tbody>
                  <tr>
                    <td width="100%">
                      
                      <!-- Reservation Title -->
                      <table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color: #FFFFFF">
                        <tbody>
                          <tr>
                            <td style="padding: 7px; text-align: center; font-weight: bold; font-family: Helvetica, arial, sans-serif; font-size: 20px;" data-bg-color="{{titleColor}}">
                              {{reservationTitle}}
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- Reservation Details -->
                      <table width="100%" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="background-color: #eaeaea">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="10" cellspacing="0" border="0" align="center" class="devicewidth" style="background-color: #ffffff; border-top-left-radius: 7px; border-top-right-radius: 7px; margin: 0 auto">
                                <tbody>
                                  <tr>
                                    <td width="100%" style="padding: 10px">
                                      <table border="0" cellspacing="0" cellpadding="0" width="100%" style="background-color: #FFFFFF">
                                        <tbody>
                                          <tr>
                                            <td style="padding-left: 11px; padding-right: 11px; text-align: left">
                                              Dear Customer,<br /><br /> Greeting from World Choice Hotels!!<br />
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="padding-left: 11px; padding-right: 11px; text-align: left">
                                              <br /> {{customerNote}}
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- Booking Information -->
                      <table width="100%" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="background-color: #eaeaea">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="15" cellspacing="0" border="0" align="center" class="devicewidth" style="background-color: #ffffff; margin: 0 auto">
                                <tbody>
                                  <tr>
                                    <td width="100%" style="padding: 15px">
                                      <table cellpadding="10" cellspacing="7" border="0" width="100%" style="background: #e0e0e2; border-spacing: 7px">
                                        <tbody>
                                          <tr>
                                            <td colspan="2" style="padding: 10px">
                                              <h4 style="text-transform: uppercase; font-size: 12px; font-weight: bold; color: #878789; margin: 0px 5px; padding: 5px 0 5px; text-align: center; font-family: arial">
                                                BOOKING INFORMATION:
                                              </h4>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              Hotel Name
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; font-family: arial">
                                              {{hotelName}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              City & State
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; font-family: arial">
                                              {{cityName}} & {{stateName}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              Input Date
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{inputDate}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              Modified Date
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{modifiedDate}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              Reservation
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{reservationId}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              REF#
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{refNumber}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              BOOKING TYPE
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{bookingType}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              check-in
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 11px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{checkInDate}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              check-out
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{checkOutDate}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              Nights
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{totalNights}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              Rooms
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 11px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{totalRooms}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              Adults
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{totalAdults}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              Children
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{totalChildren}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="color: #000; font-size: 12px; text-transform: uppercase; width: 175px; font-family: arial; padding: 10px">
                                              INFANTS
                                            </td>
                                            <td style="color: #878787; border: 1px solid #c7c7c7; background: #fff; width: 327px; font-size: 12px; padding: 3px; text-transform: uppercase; height: 14px; font-family: arial">
                                              {{totalInfants}}
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- Customer Information -->
                      <table width="100%" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="background-color: #eaeaea">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="15" cellspacing="0" border="0" align="center" class="devicewidth" style="background-color: #ffffff; margin: 0 auto">
                                <tbody>
                                  <tr>
                                    <td style="padding: 15px">
                                      <table border="1" width="100%" cellpadding="8" cellspacing="0" style="font-size: 12px; font-family: Arial, Helvetica, sans-serif; color: #444; border-collapse: collapse; border: 1px solid">
                                        <thead>
                                          <tr>
                                            <td colspan="8" style="padding: 8px">
                                              <h4 style="text-transform: uppercase; font-size: 12px; font-weight: bold; margin: 0px 5px; padding: 5px 0 5px; text-align: center; font-family: arial">
                                                Guest Information
                                              </h4>
                                            </td>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          <tr>
                                            <td width="50%" style="padding: 8px; line-height: 0px">
                                              <p style="text-align: left; font-size: 14px; color: #878787; vertical-align: top; font-family: arial">
                                                Name
                                              </p>
                                            </td>
                                            <td width="50%" style="text-align: left; font-size: 15px; color: #878787; vertical-align: center; font-family: arial; text-transform: uppercase;">
                                              {{customerName}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td width="50%" style="padding: 8px">
                                              <p style="text-align: left; font-size: 14px; color: #878787; vertical-align: top; font-family: arial; line-height: 0px">
                                                Email
                                              </p>
                                            </td>
                                            <td width="50%" style="text-align: left; font-size: 15px; color: #878787; vertical-align: center; font-family: arial; text-transform: uppercase;">
                                              {{customerEmail}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td width="50%" style="padding: 8px">
                                              <p style="text-align: left; font-size: 14px; color: #878787; vertical-align: top; font-family: arial; line-height: 0px">
                                                Phone
                                              </p>
                                            </td>
                                            <td width="50%" style="text-align: left; font-size: 15px; color: #878787; vertical-align: center; font-family: arial; text-transform: uppercase; padding: 10px">
                                              {{customerPhone}}
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- Room Details -->
                      <table width="100%" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="background-color: #eaeaea">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="15" cellspacing="0" border="0" align="center" class="devicewidth" style="background-color: #ffffff; margin: 0 auto">
                                <tbody>
                                  <tr>
                                    <td style="padding: 15px">
                                      {{roomDetailsHTML}}
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <!-- Direct Payment Section (Conditional) -->
                      {{directPaymentHTML}}

                      <!-- GST Information -->
                      {{gstInformationHTML}}

                      <!-- Policy Information -->
                      {{policyHTML}}

                    </td>
                  </tr>
                </tbody>
              </table>
              
              <!-- Footer -->
              {{footerHTML}}
              
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html> 