<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
</head>

<body>
  <div id="yw0" class="list-view">
    <div class="items">
      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="">
        <tbody>
          <tr>
            <td style="padding-top:10px">
              <table width="630" cellpadding="15" bgcolor="#ffffff" cellspacing="0" border="0" align="center"
                class="devicewidth" style="border-top-left-radius:7px; border-top-right-radius:7px; margin:0 auto">
                <tbody>
                  <tr>
                    <td width="100%">
                      <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                        <tbody>
                          <tr>
                            <td align="left" style="padding:14px" width="50%">
                              <img src="{{companyLogo}}" alt="Logo" style="max-width:200px">
                            </td>
                            <td align="left" style="padding-right:8px; padding-top:5px;">
                              <p
                                style="font-family:Helvetica, arial, sans-serif; font-size:15px; color:#00546a; margin:0; margin-bottom:5px; font-weight:bold;">
                                {{companyName}}
                              </p>
                              <p
                                style="font-family:Helvetica, arial, sans-serif; font-size:13px; color:#878787; margin:0">
                                {{companyAddress}}<br>
                                {{companyEmail}}<br>
                                {{companyPhone}}<br>
                              </p>
                            </td>
                          </tr>
                          <tr>
                            <td colspan="2">
                              <hr>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0" id="backgroundTable" style="">
        <tbody>
          <tr>
            <td>
              <table width="630" cellpadding="0" bgcolor="#ffffff" cellspacing="0" border="0" align="center"
                class="devicewidth">
                <tbody>
                  <tr>
                    <td width="100%">
                      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                        <tbody>
                          <tr>
                            <td
                              style="padding: 7px;text-align:center; font-weight: bold; font-family:Helvetica, arial, sans-serif;font-size:15px; font-size: 20px;"
                              data-bg-color="{{titleColor}}">
                              {{reservationTitle}}
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0"
                        id="backgroundTable" style="">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="10" bgcolor="#ffffff" cellspacing="0" border="0"
                                align="center" class="devicewidth"
                                style="border-top-left-radius:7px; border-top-right-radius:7px; margin:0 auto">
                                <tbody>
                                  <tr>
                                    <td width="100%">
                                      <table bgcolor="#FFFFFF" border="0" cellspacing="0" cellpadding="0" width="100%">
                                        <tbody>
                                          <tr>
                                            <td style="padding-left:11px; padding-right:11px; text-align:left">
                                              <p
                                                style="color:#666; width:100%; float: left; text-align:left; font-family:Helvetica, arial, sans-serif; font-size:14px;  padding:8px;  margin-bottom:0px;border: 1px solid #ccc;">
                                                <span style="float:left;"><b>Reservation ID: {{bookingId}}</b></span>
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td style="padding-left:11px; padding-right:11px; text-align:left">
                                              <p
                                                style="color:#666; width:100%; float: left; text-align:left; font-family:Helvetica, arial, sans-serif; font-size:14px;  padding:8px;  margin-bottom:0px;border: 1px solid #ccc;">
                                                <span style="float:left;"><b>Source ID: {{pnr}}</b></span>
                                              </p>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="padding-left:11px; padding-right:11px; padding-top: 20px;text-align:left">
                                              <p
                                                style="color:#4f4f4f; font-family:Helvetica, arial, sans-serif; font-size:14px; font-style:italic; margin-bottom:15px; padding:0;">
                                                {{hotelNote}}
                                              </p>
                                            </td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0"
                        id="backgroundTable" style="">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="15" bgcolor="#ffffff" cellspacing="0" border="0"
                                align="center" class="devicewidth" style="margin:0 auto">
                                <tbody>
                                  <tr>
                                    <td width="100%">
                                      <table cellpadding="10" cellspacing="7" border="0" width="100%"
                                        style="background:#e0e0e2;">
                                        <tbody>
                                          <tr>
                                            <td colspan="2">
                                              <h4
                                                style="text-transform:uppercase; font-size:12px; font-weight:bold; color:#878789;  margin:0px 5px; padding:5px 0 5px; text-align:center;font-family:arial;">
                                                BOOKING INFORMATION:</h4>
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial;">
                                              Name of hotel & city</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px;font-size:12px; padding:3px; text-transform:uppercase; font-family:arial;">
                                              {{hotelName}} {{hotelCity}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial;">
                                              Phone & Email</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px;font-size:12px; padding:3px; text-transform:uppercase; font-family:arial;">
                                              {{hotelPhone}} & {{hotelEmails}}
                                            </td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Traveler Name</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{customerName}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              booking date</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{bookingDate}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              check-in</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:11px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{checkInDate}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style="color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              check-out</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{checkOutDate}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              number of nights</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{totalNight}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              number of rooms</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:11px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{totalRooms}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Adults</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{totalAdults}}</td>
                                          </tr>
                                          <tr>
                                            <td
                                              style=" color:#000; font-size:12px; text-transform:uppercase; width:175px;font-family:arial">
                                              Children</td>
                                            <td
                                              style="color: #878787; border:1px solid #c7c7c7; background:#fff; width:327px; font-size:12px; padding:3px; text-transform:uppercase; height:14px;font-family:arial">
                                              {{totalChildren}}</td>
                                          </tr>
                                        </tbody>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0"
                        id="backgroundTable" style="">
                        <tbody>
                          <tr>
                            <td>
                              <table width="630" cellpadding="15" bgcolor="#ffffff" cellspacing="0" border="0"
                                align="center" class="devicewidth" style=" margin:0 auto">
                                <tbody>
                                  <tr>
                                    <td>
                                      <table border="1" width="100%" cellpadding="8" cellspacing="0"
                                        style="font-size:12px;font-family:Arial, Helvetica, sans-serif;color:#444;border-collapse:collapse;">
                                        <thead>
                                          <tr>
                                            <td colspan="8">
                                              <h4
                                                style="text-transform:uppercase; font-size:12px; font-weight:bold;  margin:0px 5px; padding:5px 0 5px; text-align:center;font-family:arial;">
                                                Room Details:</h4>
                                            </td>
                                          </tr>
                                          <tr>
                                            <th>SR. No</th>
                                            <th>Room Type</th>
                                            <th>Plan</th>
                                            <th>Adult</th>
                                            <th>Child</th>
                                            <th>Child Age</th>
                                            <th>Extra Bed</th>
                                            <th>Total Net Payable To Hotels</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {{roomDetailsHTML}}
                                        </tbody>
                                        <tfoot>
                                          <tr>
                                            <td colspan="7" style="text-align: right;">Grand Total</td>
                                            <td>INR {{totalPayableAmount}}</td>
                                          </tr>
                                        </tfoot>
                                      </table>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>

                      {{hotelDirectPaymentHTML}}
                      {{otaSettlementHTML}}
                      <!-- FINANCIAL INFORMATION (dynamic) -->
                      {{financialInformationHTML}}
                  <tr>
                    <td width="90%" style="font-family:Arial, Helvetica, sans-serif; padding: 10px; text-align:left;">
                      <table border="1" bordercolor="#cccccc" width="100%" cellpadding="8" cellspacing="0"
                        style="font-size:13px; font-family:Arial, Helvetica, sans-serif; color: #444;">
                        <tbody>
                          <tr>
                            <td colspan="2"
                              style="text-align:center; font-weight:bold; vertical-align:top;  font-family:arial">
                              GST INFORMATION OF OUR COMPANY:</td>
                          </tr>
                          <tr>
                            <td width="50%"
                              style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                              GST Number</td>
                            <td width="50%"
                              style="text-align:left; color:#878787;  vertical-align:center;  font-family:arial">
                              {{hotelGstNumber}}</td>
                          </tr>
                          <tr>
                            <td width="50%"
                              style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                              GST Holders Name</td>
                            <td width="50%"
                              style="text-align:left; color:#878787;  vertical-align:center;  font-family:arial">
                              {{hotelGstHolderName}}</td>
                          </tr>
                          <tr>
                            <td width="50%"
                              style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                              GST Address</td>
                            <td width="50%"
                              style="text-align:left; color:#878787;  vertical-align:center;  font-family:arial">
                              {{hotelGstAddress}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td width="90%" style="font-family:Arial, Helvetica, sans-serif; padding: 10px; text-align:left;">
                      <table border="1" bordercolor="#cccccc" width="100%" cellpadding="8" cellspacing="0"
                        style="font-size:13px; font-family:Arial, Helvetica, sans-serif; color: #444;">
                        <tbody>
                          <tr>
                            <td width="50%"
                              style="text-align:left;  color:#878787;  vertical-align:top;  font-family:arial">
                              Instruction for GST Bill & Invoice</td>
                            <td width="50%"
                              style="text-align:left; color:#878787;  vertical-align:center;  font-family:arial">
                              Please use this GST Details for billing. We need GST bill & Invoice of the guest
                              after check out. Kindly send the scan copy of the GST Bill to our email IDs
                              gst@wchotels.com, accounts@wchotels.com You may call {{companyPhone}} for more
                              information</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                  <tr>
                    <td width="90%" style="font-family:Arial, Helvetica, sans-serif; padding: 10px; text-align:left;">
                      <table border="1" bordercolor="#cccccc" width="100%" cellpadding="8" cellspacing="0"
                        style="font-size:13px; font-family:Arial, Helvetica, sans-serif; color: #444;">
                        <tbody>
                          <tr>
                            <td colspan="2"
                              style="text-align:center; font-weight:bold; vertical-align:top;  font-family:arial">
                              Bank Account Details for Payment:
                            </td>
                          </tr>
                          <tr>
                            <td width="50%"
                              style="text-align:left; color:#878787; vertical-align:top; font-family:arial">BANK NAME
                            </td>
                            <td width="50%"
                              style="text-align:left; color:#878787; vertical-align:center; font-family:arial">
                              {{bankName}}</td>
                          </tr>
                          <tr>
                            <td width="50%"
                              style="text-align:left; color:#878787; vertical-align:top; font-family:arial">ACCOUNT NAME
                            </td>
                            <td width="50%"
                              style="text-align:left; color:#878787; vertical-align:center; font-family:arial">
                              {{beneficiaryName}}</td>
                          </tr>
                          <tr>
                            <td width="50%"
                              style="text-align:left; color:#878787; vertical-align:top; font-family:arial">ACCOUNT
                              NUMBER</td>
                            <td width="50%"
                              style="text-align:left; color:#878787; vertical-align:center; font-family:arial">
                              {{accountNumber}}</td>
                          </tr>
                          <tr>
                            <td width="50%"
                              style="text-align:left; color:#878787; vertical-align:top; font-family:arial">IFSC NO</td>
                            <td width="50%"
                              style="text-align:left; color:#878787; vertical-align:center; font-family:arial">
                              {{ifscCode}}</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>

              <table width="100%" bgcolor="#eaeaea" cellpadding="0" cellspacing="0" border="0" id="backgroundTable">
                <tbody>
                  <tr>
                    <td>
                      <table width="630" cellpadding="15" bgcolor="#ffffff" cellspacing="0" border="0" align="center"
                        class="devicewidth" style="margin:0 auto">
                        <tbody>
                          <tr>
                            <td width="100%">
                              <table width="100%" align="left" border="0" cellpadding="0" cellspacing="0">
                                <tbody>
                                  <tr>
                                    <td>
                                      <h4 style="text-transform:uppercase; font-size:12px; font-weight:bold; color:#878789;
                                                margin:0px; padding:5px 0 5px; text-align:left;font-family:arial;">
                                        Policies</h4>
                                      <div
                                        style="margin-top: 14pt; margin-bottom: 14pt; font-size: 14px; text-align: left; color:#4F4F4F; font-family:arial;">
                                        {{policyDetails}}
                                      </div>
                                    </td>
                                  </tr>
                                  <tr>
                                    <td style="text-align: right;">
                                      <a target="_blank" href="{{bookingUrl}}"
                                        style="text-decoration:none;font-family:arial;font-size:10.0pt;color:#fff;text-transform:uppercase;font-family:arial;background-color:#ff5500;border-radius:5px;border:10px solid #ff5500;display:inline-block;font-weight:bold;">
                                        Confirm Reservation
                                      </a>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>

      <!-- footer -->
      <table width="100%" bgcolor="#eaeaea" cellpadding="0" border="0" id="backgroundTable">
        <tbody>
          <tr>
            <td>
              <table width="630" cellpadding="0" cellspacing="0" valign="top" border="0" align="center"
                class="devicewidth" style="margin:0 auto 10px;">
                <tbody>
                  <tr>
                    <td width="100%" bgcolor="#ffffff"
                      style="border-top: #cccccc 1px dashed ;border-bottom-left-radius:7px;border-bottom-right-radius:7px;padding:10px 15px">
                      <table width="630" align="center" cellpadding="0" cellspacing="0"
                        style=" text-align: center; width: 100% !important;">
                        <tbody>
                          <tr>
                            <td align="center"
                              style="color:#484646; font-size:14px; margin-top:0px; font-family:Arial, Helvetica, sans-serif; padding-top:5px; padding-bottom:10px">
                              GSTIN: {{gstin}}, State Code: {{stateCode}}, Pan No.: {{panNumber}}
                              <br>Company Reg. No. : {{companyRegNumber}}
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
      </td>
      </tr>
      </tbody>
      </table>

    </div>
  </div>
</body>

</html>